	
*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: var(--font-oxygen);
  font-size: var(--text-rg);
  line-height: 15px;
  background-color: var(--gray-white);
  margin: 0px;
  padding: 0px;
  background-color: #9C8292;
  position:absolute;
}


h1 {
  font-family: var(--font-mulish);
  font-weight: lighter;
  font-size: 35px;
}


h2 {
  font-family: var(--font-mulish);
  font-weight: normal;
  font-size: 25px;
}

h3{
  font-family: var(--font-mulish);
  font-size: 20px;
  letter-spacing: 1px;
}

h4{
  font-family: var(--font-mulish);
  font-weight: normal;
  font-size: 15px ;
  gap: 10px;
}

h5{
  font-family: var(--font-mulish);
  font-size: 15px;
  font-weight: bolder;

}

p{
  font-family: var(--font-oxygen);
  line-height: 20px;
  font-size: 15px;
}


dt{
  font-family: var(--font-mulish);
  font-weight: bolder;
  font-size: 17px;
  padding-bottom: 15px;
  letter-spacing: 4px;
  padding-top: 20px;
}

li{
  font-size: 14px;
}

blockquote{
  font-size: 15px;
  font-family: var(--font-Rozha-one);
}




  