	
*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: var(--font-oxygen);
  font-size: var(--text-rg);
  line-height: 15px;
  background-color: var(--gray-white);
}

h1 {
  font-family: var(--font-mulish);
  font-weight: lighter;
  line-height: 25px;
}


h2 {
  font-family: var(--font-mulish);
  font-weight: normal;
  line-height: 15px;
}

img {
  max-width: 100%;
  height: auto;
}



  