.main__accueil{
    line-height: 20px;
    padding-left: 15px;
    padding-bottom: 30px;
    padding-right: 15px;
}

.main__accueil a {
    margin: 80px;
    background-color:#786478 ;
    color: white;
    font-size: 15px;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none; 
}

.main__accueil-sujet {
    font-weight: bold;
}

.main__autres-projets{
   margin-left: 100px;
   margin-right: 60px;
   padding-bottom: 60px;
   padding-top: 40px;
   
}

.main__autres-projets a{
    color: black;
}

.main__autres-projets img {
    width: 70px;
}

.main__premier-article a {
    text-decoration: underline;
    color: black ;
}

.main__premier-article{
    margin: 15px;
    line-height: 20px;
}

.main__second-article a {
    text-decoration: underline;
    color: black ;
}

.lien__article-suivant{
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
    width: 175px;
    display: flex;
    background-color:#786478 ;
    font-size: 15px;
    border: none;
    height: 45px;
    justify-content: center;
    align-items: center;
    border-radius: 5px; 
}
.lien__article-suivant a{
    color: white;
    text-decoration: none}

.main__second-article{
    margin: 15px;
    line-height: 20px;
}



.lien__troisieme-article{
    margin: 15px;
    line-height: 20px;
}

.lien__troisieme-article a {
    text-decoration: underline;
    color: black ;
}

.main__galerie{
    margin: 15px;
    padding-bottom: 40px;
    
}

.main__galerie img{
    width: 200px;
}

.galerie__figure{
    float: right; 
    margin: -120px 10px -100px 200px; 
    padding-left: 15px;
}

.galerie__paragraphe{
    padding-bottom: 30px;
}


.main__a-propos{
    margin: 15px;
}


.main__glossaire{
    margin: 15px;
}

.main__titre-article__left{
    margin-top: 40px;
    margin-left: -20px;
    background-color:white ;
    color: black;
    font-size: 15px;
    border: none;
    padding: 10px 20px;
}

.main__titre-article__right{
    margin-top: 40px;
    margin-right: -20px;
    background-color:white ;
    color: black;
    font-size: 15px;
    border: none;
    padding: 10px 20px;
}

.main__sous-titre-article__left{
    margin-top: 40px;
    margin-left: -20px;
    background-color:#CEC5D1 ;
    color: black;
    font-size: 15px;
    border: none;
    padding: 10px 20px;}


.main__sous-titre-article__right{
        margin-top: 40px;
        margin-right: -20px;
        background-color:#CEC5D1 ;
        color: black;
        font-size: 15px;
        border: none;
        padding: 10px 20px;}

.main__contact{
    margin: 15px;
}

.main__timeline{
    margin: 15px;
}

.paragraphe{
    margin: 15px;
}

.main__acceuil__micro-trottoir{
    width: 250px;
    padding: 10px;
    background-color: white;
    font-family: var(--font-mulish);
    font-size: 20px;
    margin-left: 50px;
    margin-top: 80px;
    margin-bottom: -60px;
}




